:root {
    --base-color: #89CFF0;
    --color-1: #406170;
    --color-2: #D3E8F2;
    --color-3: #626C70;
    --color-4: #6CA3BD;
    --header-font: 'Jost', sans-serif;
    --body-font: 'Quicksand', sans-serif;
}

#activityNxBtn{
    display: none;
}


#restrictions{
    display: none;
}

#allergies{
    display:none;
}

#suggestions{
    display: none;
}

#activityNextPageBtn{
    display: none;
}

#meal-title{
    text-align: center;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

#meal-suggestions{
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: lightblue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.background-img{
    position: relative;
}

.background-img:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url(https://t4.ftcdn.net/jpg/04/33/38/31/360_F_433383199_z1mLbi6GTKBmrtauE7sToBWPSfTdkUGa.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0;
    background-size: cover;
  }